html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(112deg, #9EE493 50%, #f5f5f5 50%);
  min-height: 140vh;
  overflow: hidden;
}

body {
  background: none;
}

.logo-heading {
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 5% 0;
  /* color: #EF6C00; */
}

.logo-heading h1 {
  font-size: 4rem;
}

.home-options {
  width: 22%;
  margin: 5% auto auto;
  text-align: center;
}

.signup-wraper, .login-wrapper {
  margin: 10% 0;
}

.home-form {
  margin-top: 10%;
}

.login, .signup {
  outline: 0;
}

.home-form, .home-button {
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.home-form input {
  margin-bottom: -1px;
  border-radius: 0;
}

.home-form input:focus {
  outline: none;
}

.home-form input:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.home-form input:last-child {
  margin-bottom: 10px;
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.home-button {
  margin-top: 30px;
}

.payment-options {
  width: 50%;
  margin: 5% auto auto;
  text-align: center;
}

.card-info {
  margin: auto;
  width: 40%;
}

.continue-button {
  text-align: center;
}
